*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}


h1, h2, h3, h4, h5{
    color: #fff;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}
h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.1rem;
    image-rendering: 0.8rem 0 0.5rem;
}
h4{
    font-size: 1rem;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}


label {
    display: block;
    margin-bottom: 5px;
}
.form-container{
    position: absolute;
    top: 8rem;
    left: 23%;
    background: white;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    margin-right: 27%;
    /*transform: translate(-50%, -50%);
    width: 50%;
    background: white;
    border-radius: 10px;
    margin-left: 20%;
    margin-bottom: 50px;
   */
}
.form-container h2{
    text-align: center;
}
.form-container form{
    padding: 0 40px;
    box-sizing: border-box;
    
}

form{
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
}

.form-container .error-msg{
    margin: 20px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 70%;
    margin-left: 10%;
 }

input[type="text"],
textarea,
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

.btn:hover {
    background-color: #45a049;
}

.form_control{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.form_control.inline{
    flex-direction: row;
    align-items: center;
}

.btn.sm{
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.btn.danger{
    background: crimson;
}

/** ----------
|  DASHBOARD  |
---------------**/

.dashboard{
    margin-top: -5rem;

}
.dashboard_container{
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    background: #cccccc;
    padding: 2rem;
    margin-bottom: 5rem;
}

.dashboard aside a{
    background-color: #333;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;
}

.dashboard aside ul li a i{
    color: #ccc;
}

.dashboard aside ul li:not(:last-child) a{
    border-bottom: 1px solid var #ccc;
}

.dashboard aside a:hover{
    background: #3d3d3d;
}

.dashboard aside a.active{
    background-color: #3d3d4d;
}

.dashboard main{
    margin-left: 1.5rem;
}
.dashboard main h2{
    margin: 0 0 2rem 0;
    line-height: 1;
}

.dashboard main table{
    width: 100%;
    text-align: left;
}

.dashboard main table th{
    background-color: #666666;
    padding: 0.8rem;
    color: #fff;

}

.dashboard main table td{
    padding: 0.8rem;
    border-bottom: 1px solid var gray;   
}

.dashboard main table tr:hover{
    background-color: #4d3d4d;
    color: #fff;
    cursor: pointer;
    transition: 1s ease;
}

/*.dashboard_container{
    grid-template-columns: 4.3rem auto;
    padding: 0;
    background: transparent;
}

.dashboard aside h5{
    display: none;
}

.dashboard main table thead{
    display: none;
}

.dashboard main table tr{
    display: flex;
    flex-direction: column;
}

.dashboard main table tr:nth-child(even){
    background: #3d3d3d;
}

.dashboard main table tr:hover td{
    background: transparent;
}
*/





